window.indicator .progress {
    @include floating-widget;
    padding: $padding / 2;
    border-radius: if($radii == 0, 0, $radii + $padding / 2);
    min-width: 300px;
    scale { @include slider($width: 7px); }
    image { font-size: 1.2em; }

}
