window.indicator .progress {
    @include floating-widget;
    padding: $padding / 2;
    border-radius: if($radii == 0, 0, $radii + $padding / 2);
    image { font-size: 1.2em; }
    levelbar trough {
        @include widget;
        min-width: 270px;
        min-height: 50px;

        block.filled {
            border-radius: max($radii - $border-width, 0);
            background-image: $active-gradient;
        }
    }
}
